<div class="container mt-4 text-center">
    <h1 class="display-4 mb-3">Lista delle ricerche effettuate</h1>
    <hr class="mb-4">

    <button (click)="loadMealSearches()" class="btn btn-success mb-4">Aggiorna lista ricerche</button>

    <div class="row justify-content-center">
        <div class="col-md-4 mb-4" *ngFor="let search of mealSearches">
            <div class="card h-100">
                <!-- Corpo della card -->
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{search.searchQuery}}</h5>
                    <div class="mt-auto">
                        <p class="card-text">
                            <strong>Data:</strong> {{search.createdAt | date:'short'}}</p>
                        <hr>
                        <p class="card-text">
                            <strong>Esito:</strong> {{search.searchSuccess ? 'Successo' : 'Fallito'}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
